+++
title = "Jenkins Kubernetes Operator"
linkTitle = "Jenkins Kubernetes Operator"

+++
{{< blocks/section color="dark" >}}
<div class="col-md-1 order-md-1 hidden-xs hidden-sm hidden-md"></div>
<div class="col-md-2 col-lg-1 order-xs-first order-sm-first order-md-last text-center ">
    <img src="/kubernetes-operator/img/logo.svg" style="height: 110%; margin-left: -75%; margin-top: -20%; position:relative;" alt="Logo"/>
</div>
<div class="col-md-3 col-lg-8 order-xs-2 order-sm-2 order-md-2">
	<h1>Manage Jenkins in Kubernetes!</h1>
	<p class="lead mt-2">Deploy Jenkins Operator and configure your Jenkins instances in Kubernetes
    </p>
	<div class="mx-auto mt-5">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="/kubernetes-operator/docs">
			Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/jenkinsci/kubernetes-operator">
			View Repository <i class="fab fa-github ml-2 "></i>
		</a>
	</div>
</div>
{{% /blocks/section %}}

{{% blocks/lead color="primary" %}}
Jenkins operator is a Kubernetes native operator which fully manages Jenkins on Kubernetes.<br /> It was built with immutability and declarative configuration as code in mind.<br />
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-hdd" title="Volumes handling" %}}
AWS EBS volume attach/detach issue when using PVC
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-cogs" title="Better configuration as code" %}}
Use groovy scripts or JCasC to configure your Jenkins instance
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-shield-alt" title="Security and hardening out of the box" %}}
Enable CSRF, disable usage stats, enable master access control and more by default
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-plug" title="Handle graceful shutdown properly" %}}
Less chance to lose data
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-exclamation-circle" title="Make errors more visible for end users" %}}
Improve user experience by informing what has been done
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-file-archive" title="Backup and restore for jobs history" %}}
Prevent loss of job history
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/jenkinsci/kubernetes-operator/pulls" %}}
We do a Pull Request contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-folder-open" title="Documentation" url="/kubernetes-operator/docs" %}}
Learning the usage of Jenkins Operator will make your life easier. After that, you can easily contribute to the project. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bug" title="Bugs" url="https://github.com/jenkinsci/kubernetes-operator/issues" %}}
Help us work on the software by reporting or fixing bugs. Make the Jenkins Operator better.
{{% /blocks/feature %}}


{{< /blocks/section >}}

