apiVersion: jenkins.io/v1alpha2
kind: Jenkins
metadata:
  name: jenkins-sample
spec:
  configurationAsCode:
    enabled: true
    defaultConfig: true
    enableAutoReload: true
  jenkinsAPISettings:
    authorizationStrategy: serviceAccount
  jenkinsImageRef: jenkinsimage-sample 
  master:
    disableCSRFProtection: true
    containers:
    - name: jenkins-master
      image: jenkins/jenkins:lts
      imagePullPolicy: Always
      livenessProbe:
        failureThreshold: 12
        httpGet:
          path: /login
          port: http
          scheme: HTTP
        initialDelaySeconds: 80
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 5
      readinessProbe:
        failureThreshold: 3
        httpGet:
          path: /login
          port: http
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 1
      resources:
        limits:
          cpu: 1500m
          memory: 3Gi
        requests:
          cpu: "1"
          memory: 500Mi



