
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: backups.jenkins.io
spec:
  group: jenkins.io
  names:
    kind: Backup
    listKind: BackupList
    plural: backups
    singular: backup
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Backup is the Schema for the backups API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: BackupSpec defines the desired state of Backup
          properties:
            jenkinsRef:
              description: JenkinsRef includes the reference of Jenkins Instance on
                which we would like to initiate Backup
              type: string
            quietDownDuringBackup:
              description: QuietDownDuringBackup will put the Jenkins instance in
                a QuietDown mode which prevents any new builds from taking place
              type: boolean
            restart:
              properties:
                enabled:
                  type: boolean
                safe:
                  type: boolean
              required:
              - enabled
              type: object
          required:
          - jenkinsRef
          - restart
          type: object
        status:
          description: BackupStatus defines the observed state of Backup
          type: object
      type: object
  version: v1alpha2
  versions:
  - name: v1alpha2
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
